<header class="header">

  <a href="/" class="header-logo">
    <img src="/assets/img/jlogo.svg"  alt="Green box with a handwritten j in the box as Jeana would sign the first letter of her name" width="100" height="140" />
  </a>
  
  <div class="header-name">
    <span class="mediumgreen">Jeana</span>
    <span class="mediumgreen2">Clark</span>
  </div>

  {% include 'nav.njk' %}

</header>