<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="icon" href="/assets/img/favicon.png" />
<link rel="stylesheet" media="screen" type="text/css" href="/assets/css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway:wght@300;400;500;600;700&display=swap">

<link media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</noscript>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="Description" content="Portfolio of Designer, Developer, Accessibility Advocate, Jeana Clark">
<meta property="og:title" content="Jeana Clark :: Designer, Developer, Accessibility Advocate"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://www.jeana.dev/"/>
<meta property="og:image" content="https://www.jeana.dev/img/jlogo3.png"/>
<meta property="og:site_name" content="Jeana Clark :: Designer, Developer, Accessibility Advocate"/>
<meta property="og:description"
        content="Creative and innovative graphic designer who collaborates with organizations and companies to help them tell their unique and inspiring story. + 18 years in web development, 19 years in print design + HTML, CSS, PHP, JavaScript, ASP, Responsive Web Design. + Drupal + Wordpress + Graphic design skills + logo and brand development, brand collateral and publication design."/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145815955-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145815955-1');
</script>