@use 'breakpoints';
@use "variables";
@use "typography";

/* body */


.freeform,
.projects,
.featured {
  background-color: #fff;
  box-shadow: 0 .1em .5em #989d79;
  margin: 0 1rem;
  max-width: 920px;
  overflow: hidden;
  padding: 10px 20px 32px;
  text-align: left;

  @include breakpoints.breakpoint(breakpoints.$bp-md) {
    margin: 0 auto 32px;
  }
}

.freeform--section-header,
.projects--section-header,
.featured--section-header {
  border-bottom: 1px solid variables.$color-light-green;
  color: variables.$color-medium-green;
  font-family: typography.$font-stack-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
  padding: 5px 0;
  margin: 0 0 16px 0;
  text-align: center;

  @include breakpoints.breakpoint (breakpoints.$bp-md) {
    font-size: 1.5rem;
    text-align: left;
  }
}


.projects--project {
  display: grid;
  grid-template-areas: 
    'company'
    'title'
    'img'
    'skills'
    'description';
  grid-template-columns: 1fr;
  margin: 16px 0;
  padding-bottom: 32px;

  @include breakpoints.breakpoint (breakpoints.$bp-md) {
    column-gap: 16px;
    grid-template-areas:
      'company company'
      'img title'
      'img skills'
      'img description';
    grid-template-columns:  70% auto;
    grid-template-rows: min-content min-content min-content 1fr;
    row-gap: 4px;
  }
}

.projects--project + .projects--project {
  border-top: 1px solid variables.$color-light-green;
  padding-top: 32px;
}

.projects--title {
  grid-area: title;
  margin: 12px 0 16px;
  text-align: center;

  @include breakpoints.breakpoint(breakpoints.$bp-md) {
    text-align: left;
  }
}

.projects--subtitle {
  color: variables.$color-grey;
  grid-area: company;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;

  &:before,
  &:after {
    content: "\2015";
    padding: 0 5px;
  }

  @include breakpoints.breakpoint(breakpoints.$bp-md) {
    text-align: left;

    &:before,
    &:after {
      content: "";
      padding: inherit;
    }
  }
}

.projects--summary {
  border: 1px solid variables.$color-light-grey;
  grid-area: skills;
  padding: 6px;
}

.projects--summary-subtitle {
  color: variables.$color-medium-green;
  font-weight: 700;
  font-size: 0.5rem;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.projects--skills {
  font-size: .75rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects--skills-item {
  display: inline;
}

.projects--thumbnail {
  grid-area: img;
  text-align: center;
}

.projects--description {
  grid-area: description;
}

.projects--description-text {
  font-size: .875rem;
  line-height: 1.5;
}

.projects--img {
  height: auto;
  max-width: 100%;
}

.projects--img-shadow {
  box-shadow: 0 .1em .5em #989d79;
}

.projects--description-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects--description-links-item +
.projects--description-links-item {
  margin-top: 16px;
}


.freeform--link,
.projects--description-links-item-link {
  color: variables.$color-grey;
  font-weight: 600;
  text-decoration: none;
  text-underline-offset: 3px;
  transition: all .1s ease;

  .icon {
    height: 12px;
  }

  &:hover, 
  &:active {
    color: variables.$color-darkest-green;
    text-decoration: underline;
  }

  &:hover .icon {
    fill: variables.$color-darkest-green;
  }
}

.freeform--subtitle {
  margin-bottom: 0;
}

.featured--grid {
  display: grid;
  column-gap: 16px;
  row-gap: 32px;

  @include breakpoints.breakpoint (breakpoints.$bp-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.breakpoint (breakpoints.$bp-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}


.featured--link {
  display: grid;
  grid-template-areas:
    'image'
    'title';
  gap: 8px;
  line-height: 1.4;
  text-decoration: none;
  text-underline-offset: 3px;
  transition: all .1s ease;

  &:hover, 
  &:active {
    color: variables.$color-darkest-green;
    text-decoration: underline;
  }

  @include breakpoints.breakpoint(breakpoints.$bp-md) {
    gap: 12px;
  }
}

.featured--title {
  text-transform: uppercase;
  color: variables.$color-medium-green;
  font-weight: 500;
  font-size: .675rem;
  grid-area: title;
  letter-spacing: 1px;
  margin: 0;
}

.featured--image {
  grid-area: image;
  width: 100%;
  height: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
  &:hover,
  &:active {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; 
  }
}
