@use "breakpoints";
@use "variables";

/* footer */

footer {
  background-color: variables.$color-light-green;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 48px;
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;

  
  @include breakpoints.breakpoint(breakpoints.$bp-md) {
    margin-top: 36px;
  }
}

.footer-nav {
  max-width: 550px;
  margin: 16px auto;
  overflow: hidden;
  position: relative;
}
 
.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  place-items: center;
  list-style: none;
  padding: 0;
  margin-top: 1rem;

}

.footer-menu-item + .footer-menu-item {
    border-left: 1px solid variables.$color-darkest-green;
}

.footer-menu-item {
  margin: 8px 0;
  text-align: center;
  width: 100%;

  a {
    color: variables.$color-medium-green;
    text-underline-offset: 3px;
    transition: all .1s ease;

    &:hover, 
    &:active {
      text-decoration-thickness: 3px;
    }
  }

}
